<IfModule mod_rewrite.c>

 # Activar Rewrite
 RewriteEngine on
 ErrorDocument 404 http://localhost/Asitad/error/index

 RewriteCond %{SCRIPT_FILENAME} !-d
 RewriteCond %{SCRIPT_FILENAME} !-f

 RewriteRule ^(.*)/(.*) index.php?controlador=$1&accion=$2

</IfModule>